**Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
  - оценка 2 и меньше - низкий рейтинг
  - оценка 4 и меньше - средний рейтинг
  - оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [20]:
movies_rates = pd.read_csv('ratings.csv')

def rates_count(rate):
    if rate <= 2:
        return 'низкий рейтинг'
    elif 2 < rate <= 4:
        return 'средний рейтинг'
    elif 4.5 <= rate <= 5:
        return 'высокий рейтинг'

movies_rates['class'] = movies_rates.rating.apply(rates_count)
movies_rates.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

**Задание 2**
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце 'region' пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим 'undefined'.

In [33]:
table = pd.read_csv('keywords.csv')

In [34]:
geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

In [35]:
def check_geo(key_word):
    key_word.split(' ')
    for k, v in geo_data.items():
        for el in v:
            if el in key_word.split(' '):
                return k
    else:
        return 'undefined'

table['region'] = table.keyword.apply(check_geo)
table.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [36]:
table.region.value_counts() #проверка, сработал ли код

undefined         99406
Центр               384
Северо-Запад        146
Дальний Восток       64
Name: region, dtype: int64