**Задание 1.**
Определите какому фильму было выставлено больше всего оценок 5.0.

In [2]:
import pandas as pd

In [16]:
rates = pd.read_csv('ratings.csv')

In [17]:
rates_5 = rates[rates['rating'] == 5.0]

In [18]:
movie = rates_5['movieId'].value_counts()

In [19]:
movies_rates = pd.read_csv('movies.csv')
movies_rates[movies_rates.movieId==318].head()

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama

**Задание 2.**
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [27]:
power = pd.read_csv('power.csv')

In [35]:
baltic_filtered = power[(power['country'].isin(['Lithuania','Latvia','Estonia'])) & (power['category'].isin(['4', '12', '21'])) & (power['year'].isin(['2005', '2006', '2007','2008', '2009', '2010'])) & (power['quantity'] >= 0)]
baltic_filtered.head()

         country  year  quantity  category
10617    Estonia  2008       1.0         4
10618    Estonia  2007       0.0         4
10619    Estonia  2006       0.0         4
10620    Estonia  2005       1.0         4
11156  Lithuania  2008       1.0         4

In [38]:
total_quantity = baltic_filtered['quantity'].sum()
print(total_quantity)

240580.0

**Задание 3.**
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [45]:
# Вариант 1
pd.read_html('https://fortrader.org/quotes/metals')[0]

                      Название       Цена  Изменение  Изменение(%)  Обновлено
0  Золото Цена золота на бирже  1818.4000    11.3000        0.6000        NaN
1      Серебро Цена на серебро    18.7330     0.4620        2.5290        NaN
2      Платина Цены на платину   879.5000    18.1000        2.1000        NaN
3    Палладий Цена на Палладий  1933.4500    -9.8500       -0.5100        NaN
4      Медь Цена меди на бирже     2.4575    -0.3335      -11.9491        NaN

In [47]:
# Вариант 2
pd.read_html('https://fortrader.org/quotes')[2]

                      Название       Цена  Изменение  Изменение(%)  Обновлено
0      Серебро Цена на серебро    18.7350     0.4640        2.5400        NaN
1    Палладий Цена на Палладий  1933.4500    -9.8500       -0.5100        NaN
2  Золото Цена золота на бирже  1818.6000    11.5000        0.6000        NaN
3      Платина Цены на платину   880.7000    19.3000        2.2000        NaN
4      Медь Цена меди на бирже     2.4575    -0.3335      -11.9491        NaN