**Задание 1**
Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:
- если источник traffic_source равен yandex или google, то в source_type ставится organic
- для источников paid и email из России - ставим ad
- для источников paid и email не из России - ставим other
- все остальные варианты берем из traffic_source без изменений

In [2]:
import pandas as pd

In [6]:
log = pd.read_csv('visit_log.csv', sep=';')

In [41]:
log.loc[log.traffic_source.isin(['yandex', 'google']), 'traffic_type'] = 'organic' 
log.loc[log.traffic_source.isin(['paid', 'email']) & (log.region == 'Russia'), 'traffic_type'] = 'ad'
log.loc[log.traffic_source.isin(['paid', 'email']) & (log.region != 'Russia'), 'traffic_type'] = 'other'
log.loc[~log.traffic_source.isin(['yandex','google','paid', 'email']), 'traffic_type'] = log.traffic_source
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source,traffic_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic

**Задание 2**
В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:
- Прочитайте содержимое файла с датафрейм
- Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [4]:
import re
urls = pd.read_csv('URLs.txt', sep =';')

In [5]:
urls['news'] = urls.loc[urls.url.str.contains(r'\/\d{8}\-')]    #r'\S[^\s]\d{8}\S[^\s]'
urls.head()

,url,news
0,/world/,NaN
1,/latest/,NaN
2,/?updated=top,NaN
3,/politics/36188461-s-marta-zhizn-rossiyan-susc...,/politics/36188461-s-marta-zhizn-rossiyan-susc...
4,/world/36007585-tramp-pridumal-kak-reshit-ukra...,/world/36007585-tramp-pridumal-kak-reshit-ukra...

**Задание 3**
В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

In [7]:
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})

In [8]:
pip install pymystem3

Requirement already satisfied: pymystem3 in c:\programdata\anaconda3\lib\site-packages (0.2.0)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from pymystem3) (2.22.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->pymystem3) (1.25.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests->pymystem3) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->pymystem3) (2019.11.28)
Requirement already satisfied: idna<2.9,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->pymystem3) (2.8)
Note: you may need to restart the kernel to use updated packages.

In [9]:
from pymystem3 import Mystem

In [10]:
m = Mystem()

In [13]:
def write_lemmas(key):
    lemmas = m.lemmatize(key)
    return ' '.join(lemmas)

In [16]:
data['lemmas'] = data.keyword.apply(write_lemmas)
data

                 keyword   shows                        lemmas
0    курс гривны к рублю  125076  курс   гривна   к   рубль \n
1        доллары в рубли  114173         доллар   в   рубль \n
2  100 долларов в рублях   97534   100   доллар   в   рубль \n
3             курс рубля   53546               курс   рубль \n